---
---

<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body>
    <div id="preloader"></div>

    {% include navbar.html %}

    {% include profile.html %}

    {% include description.html %}

    {% include projects.html %}

    {% include blogs.html %}
    
    {% include footer.html %}
</body>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    let preloader = document.getElementById("preloader");
    window.addEventListener("load", () => {
        preloader.style.opacity = 0;
        preloader.style.pointerEvents = "none";
    });
</script>

</html>

