---
---

<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body data-spy="scroll" data-target="#nav-bar" data-offset="140">

    {% include navbar.html %}

    {% include profile.html %}

    {% include description.html %}

    {% include projects.html %}

    {% include blogs.html %}

    {% include footer.html %}


</body>
<script>
    var theme;
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        initializeTheme()
    })
    function initializeTheme() {
        theme = localStorage.getItem('theme');
        console.log(theme)
        setTheme()
    }
    function toggleTheme() {
        theme = (theme === 'dark' ? "light" : "dark")
        setTheme()
    }
    function setTheme() {
        document.body.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme)
    }
</script>

</html>