<section>
    <h2 id="pod">Meet the Pod</h2>
    <div class="card-container">
        {% for item in site.data.fellows %}
        <div class="card">
            <div class="info">
                <p class="title"> {{ item.name }}</p>
                <p class="location"> {{ item.location }}</p>
                <a href="{{item.url}}" class="fab fa-lg fa-github" target="_blank"></a>
                <a href="{{item.social.linkedIn}}" class="fab fa-lg fa-linkedin" target="_blank"></a>
                <a href="{{item.social.twitter}}" class="fab fa-lg fa-twitter" target="_blank"></a>
                <a href="{{item.resume}}" class="fas fa-lg fa-file" target="_blank"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>