
.cont{
    padding 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.cont .card{
    position: relative;
    margin-right:15px;
}
.cont .card .item{
    width: 320px;
    height: 200px;
    transition: .5s;

}
.cont .card .item img{
    width: 100px;
    height: 100px;
}
.cont .card .item.item1{
    position: relative;
    background-color: #333;
    justify-content: center;
    z-index: 1;
    display: flex;
    align-items: center;
    transform: translateY(100px);

}
.cont .card:hover .item.item1{
    transform: translateY(0);
    background-color: white;
}
.cont .card .item.item1 .content{
    opacity: .5;
    transition: .5s;
}
.cont .card:hover .item.item1 .content{
    opacity: 1;
}
.cont .card .item.item1 h3{
    color: #fff;
    padding: 0em;
    text-align: center;
    margin: 10px auto;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 25px;
}
.cont .card .item.item2{
    position: relative;
    background-color: white;
    justify-content: center;
    display: inline-table;
    align-items: center;
    padding: 25px;
    box-shadow: 0 20px 50px rgba(0,0, 0, .8);
    box-sizing: border-box;
    transform: translateY(-100px);
}
.cont .card:hover .item.item2{
    transform: translateY(0);
    background-color: #fff;
}
.cont .card .item.item2 p{
    padding: 0em;
    margin: 0em;
    color: rgb(78, 77, 77);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.cont .card .item.item2 a{
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    border: 1px solid blueviolet;
    transition: .5s;
    padding: 10px ;
    text-transform:uppercase;
}
.cont .card .item.item2 a:hover{
    background-color: blueviolet;
    color: #fff;
    transition: .5s;

}
