.footer-container {
  background-color: #133667 !important;
  display: flex;
}

.footer {
  width: 80%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  color: #fff;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-title {
  display: flex;
  flex: 2;
  flex-direction: column;
  // margin-top: 2rem;
}

.footer-title a {
  color: #fff;
  text-decoration: none;
}

.footer-title a:hover {
  color: orange;
}

.use-left {
  display: flex;
  margin: 0px;
}

.right-a-bit {
  padding-left: 30px;
}

.footer .nav-logo {
  display: flex;
  margin: auto;
}

.nav-logo-right {
  flex: 0;
}

.description {
  display: flex;
  align-items: center;
}

.mlhlink {
  display: flex;
  align-items: center;
}
