.nav-bar {
 
    overflow: hidden;
    background-color: #133667;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3000;
  }
  
 
  .nav-content .nav-logo {
    height: 60px;
    margin: auto;
    display: inline;
    align-items: center;
  }
  
  .nav-logo img {
    width: 130px;
    margin: 7px 20px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0 18px;
    overflow: hidden;
    float: right;
  }
  
  .nav-list li {
    float: left;
    margin: 0 5px;
  }
  
  .nav-list li a {
    display: inline;
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-list li{
    
    float: left;
    color: #fff;
    padding: 15px;
  }
  .nav-list li a:hover {
    background-color: rgb(40, 61, 117);
    border-radius: 15px;
  }
  .nav-list .icon {
    display: none;
  }
  .icon{
    display: inline;
    color: #fff !important;
    padding: 15px
  }
  

  @media screen and (max-width: 600px) {
    .nav-list li {display: none;}
    .nav-list .icon {
      float: right; 
      display: inline;
      padding: 15px;
      color: #fff;
      text-decoration: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav-list.responsive :not(:first-child) {position: relative;}
    .nav-list.responsive .icon {
      display: inline;
      position: absolute;
      top: 0; right: 0;
    }
    .nav-list.responsive li {
      margin: 15px;
      float: none;
      display: block;
      text-align: right;
    }
    
  }

  

  
   
  
 
  
  
  
   
  
  
  