p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Open Sans", serif;
}

h2 {
    font-size: large;
}

body {
    background-color: #f5f5f9 !important;
    background-size: cover;
    width: auto!important; 
    overflow-x: hidden!important;
    font-family: "Open Sans", serif;
}


.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.page {
    text-align: left;
}


.page h1 {
    text-align: left !important;
    font-weight: 800 !important;
    color: black;
    margin-bottom: 0.7em;
}

.page h2 {
    text-align: left !important;
    font-weight: 800 !important;
    color: black;
    margin-bottom: 0.5em;
}

.page h3 {
    font-weight: 600 !important;
    text-align: left !important;
    color: black;
    font-size: 1.3rem;
}

.page h4 {
    font-weight: 600 !important;
    text-align: center !important;
    color: black;
}

.page p {
    color: black;
    font-weight: 500;
}

.page td {
    color: black;
}

.page th {
    color: black;
}

.page li {
    color: black;
}

.page a {
    color: #0f90fe;
}

.page a:hover {
    color: #0f90fe;
}

.page code {
    color: #17a2b8;
}

hr {
    background-color: black;
    padding: 1px;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

#see-more-link {
    display: flex; 
    justify-content:center; 
    align-items: center; 
    font-size: 1.2em;
  }
.logo-image{
    height: 41px;
}

@media screen and (max-width: 768px) {
    
    .banner {
        padding: 20px 0px 20px 0px;
        height: 110px;
    }

    .banner .logo {
        max-width:150px;
        max-height:60px;
        width: auto;
        height: auto;
    }

    .banner .title {
        color: white;
        font-size: 30px;
        font-weight: 700;
    }

    .page h1 {
        font-size: 1.5rem !important;
    }

    .page h2 {
        font-size: 1.2rem !important;
    }
    
    .page h4 {
        font-size: 0.8rem !important;
    }


}

.back-button {
    color: white !important;
    font-size: 15px;
    font-weight: bold;
    background-color:#022c67;
    border: none;
    padding: 15px;
    text-align: center;
    
    border-radius: 20px;   
  }
.back-button:hover{
    background-color: #000204;
}

.contain{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40%;
    margin-right: 40%;
    
    
  }
  
  /* @keyframes animateSectionBackground {
    00%, 36% { background-image: url(assets\img\0_tVfyU9ekMrUkhkvb.jpg); }
    37%, 63% { background-image: url(assets/img/612f90cfea72f6ee37f5472c_Learn-wallpaper-Main.jpg); }
    64%, 99% { background-image: url(assets/img/Did-someone-say-new-workshop_-1200x520.png); }
  } */
  
  table{
    padding: 40px 50px 50px 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    // border-collapse: separate;
    // border: 1px solid black;
    // border-radius: 15px;
    background-color: white;
    width: 56%;
    height: 450px;
    box-shadow: 8px 8px 3px yellow;
  }
  
    tr, td{
    padding: 29px 15px 29px 21px;
    // margin: 0px 8px 0px 8px;
  }
  
  tr{
    line-height: 3px !important;
  }

  tr:nth-child(even){
    background-color: rgb(216, 216, 216);
  }

  td{
    color: #022c67;
    font-weight: 700;
  }

  th{
    padding: 33px 5px 29px 18px;
  }

  .score{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
 }

  .bgimg{
    background-image: linear-gradient(50deg, rgba(4, 12, 119, 0.271),rgba(9, 28, 92, 0.348)),url("https://campusrec.unc.edu/wp-content/uploads/2020/11/Student-Staff-Celebration-2020-Horizontal-.png");
    /* height: 100%;
    width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50rem;
  }

  .leaderboard{
    padding-top: 68px;
    color: white;
    font-size: 30px;
  }

 .after_img{
    position: absolute;
    top: 66%;
    left: 71%;
    z-index: 2;
 }

 .div_img{
    height: 225px !important;
    width: 262px !important;
 }

 @media (min-width:287px) and (max-width:420px) {
    .div_img{
        height: 96px !important;
    width: 79px !important;
    }
    .after_img{
        top: 77%;
        left: 71%;
    } 
 }

 @media (min-width:421px) and (max-width:627px) {
    .div_img{
        height: 115px !important;
    width: 101px !important;
    }
    .after_img{
        top: 77%;
        left: 67%;
    } 
 }
 @media (min-width:628px) and (max-width:987px) {
    .div_img{
        height: 148px !important;
    width: 131px !important;
    }
    .after_img{
    top: 76%;
    left: 68%;
    } 
 }
 @media (min-width:987px) and (max-width: 1316px) {
    .div_img{
        height: 148px !important;
    width: 131px !important;
    }
    .after_img{
        top: 75%;
        left: 71%;
    } 
 }
 @media (min-width:1317px) {
    .div_img{
        height: 148px !important;
    width: 131px !important;
    }
    .after_img{
        top: 75%;
    left: 73%;
    } 
 }

