.profile {
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
    background-color: #133667; // fallback
    background: url('./../../assets/img/header-bg.jpg') center center no-repeat;
    background-size: cover;

    img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline;
        padding: 20px;
    }

    .header-image {
        margin-bottom: 30px;
        height: 200px;
    }

    div {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        font-family: "Poppins", serif;
        background: url('https://media.giphy.com/media/3o85xxpDp9J4Jlv62Q/giphy.gif') center center no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: clamp( 2rem, 5vw, 5rem);
        letter-spacing: 6px;
        background-size: cover;
        margin: 0px;
        color: transparent;
    }

}